
body{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: rgb(250,252,255);
  font-family: 'Merriweather', serif;
}
.page { 
  max-width: 800px;
  margin: auto;
  border: 0px solid black;
}

.title{
  text-align: center;
  background-color: rgb(96, 114, 145);
  background-image: url(img/desert.jpg);
  background-size:cover;
  background-position: center;
  width:100%;
  font-family: 'Oswald', sans-serif;
  color: white;

  font-size: 70px;
  font-weight: 800;
  font-style: italic;
  border-bottom: 0px solid black;
  filter: brightness(160%) saturate(35%);
  padding-bottom:50px;
  padding-top: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-bottom: 1%;

}

a {
  text-decoration: none;
  color: rgb(96, 114, 145);
  font-weight:600;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid rgb(120, 142, 181);
      font-style: italic;
        margin-bottom: 1%;


}

ul.menu li {float: left;}

h3{
  padding: 0;
  margin: 5px;
  font-style: italic;
}

ul.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.menu li a:hover:not(.active) {
  color: rgb(120, 142, 181);
}

ul.menu li a.active {
  background-color: rgb(120, 142, 181);
  color: white;
}

ul.menu li.right {float: right;}

@media screen and (max-width: 600px){
    ul.menu li.right,
    ul.menu li {float: none;}
}

p{
  margin: 5px;
  text-align: justify;
}

.mns {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 800;
}
