{% extends "base.html" %}
{% block content %}
<article>
<header class="about-header">
  <div class="about-image" style="background-image: url('{{ SITEURL }}/theme/img/michael_twotone.jpg')"></div>
  <div class="about-content">
      <div>
          <h3 class="about-title">Michael Saxon</h3>
          <p class="about-subtitle">{{ page.my_title }}<br>{{ page.my_affiliation }}</p>
          <ul class="header-icons">
              <li><a href="https://www.semanticscholar.org/author/Michael-Stephen-Saxon/48227633"><img src="{{ SITEURL }}/theme/img/ico/svg/semantic-scholar.svg"></a></li>
              <li><a href="https://scholar.google.com/citations?user=pAlwjdgAAAAJ&hl=en"><img src="{{ SITEURL }}/theme/img/ico/svg/google-scholar.svg"></a></li>
              <li><a href="https://www.researchgate.net/profile/Michael_Saxon"><img src="{{ SITEURL }}/theme/img/ico/svg/researchgate.svg"></a></li>
              <li><a href="mailto:saxon@ucsb.edu"><img src="{{ SITEURL }}/theme/img/ico/svg/envelope.svg"></a></li>
              <li><a href="https://github.com/michaelsaxon"><img src="{{ SITEURL }}/theme/img/ico/svg/github-alt.svg"></a></li>
              <li><a href="https://www.youtube.com/@mssaxonUCSB"><img src="{{ SITEURL }}/theme/img/ico/svg/youtube.svg"></a></li>
              <li><a href="https://www.linkedin.com/in/mssaxon/"><img src="{{ SITEURL }}/theme/img/ico/svg/linkedin-in.svg"></a></li>
              <li><a href="https://bsky.app/profile/saxon.me"><img src="{{ SITEURL }}/theme/img/ico/svg/cloud.svg"></a></li>
              <li><a rel="me" href="https://sigmoid.social/@saxon"><img src="{{ SITEURL }}/theme/img/ico/svg/mastodon.svg"></a></li>
              <li><a href="https://twitter.com/m2saxon"><img src="{{ SITEURL }}/theme/img/ico/svg/twitter.svg"></a></li>
          </ul>
          {% for p in pages %}
              {% if p.title == "about_header" %}
                  {{ p.content }}
              {% endif %}
          {% endfor %}
      </div>
  </div>
</header>

<h3>About</h3>

{{ page.content }}

{% include "static/experience.html" %}  

<div class="news-section">
  <h3>News</h3>
  <div class="news-box">
    {% for p in pages %}
    {% if p.title == "news" %}
        {{ p.content }}
    {% endif %}
    {% endfor %} 
  </div>
</div>
</article>
{% endblock %}
