{% extends "base.html" %}
{% block title %}{{ article.title }} - {{SITENAME}}{% endblock title %}
{% block description %}{{ article.summary | trim | striptags }}{% endblock description %}
{% block imgurl %}{{ article.image }}{% endblock imgurl %}
{% block content %}
    <h1 style="margin-top: 0; margin-bottom: 5pt;"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}" style="color: rgb(81, 89, 55);">{{ article.title }}</a></h1>

    <p><i style="font-size: 10pt;">{{ article.locale_date }}</i><br></p>
    <hr>
    {{ article.content }}
    <hr>
    <p style="font-size: 10pt; font-style: italic;">Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>; Tags: {% if article.tags %}{% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</p>
    <p style="font-size: 10pt;"><emph>Michael Saxon is a Ph.D. student in Computer Science focusing on NLP at UC Santa Barbara. You can find more of his writing on Twitter <a href="https://twitter.com/m2saxon">@m2saxon</a>.</emph></p>
  
{% endblock %}