{% extends "base.html" %}
{% block content %}
{% for article in articles_page.object_list %}
<div class="article-preview">
    <a href="{{ SITEURL }}/{{ article.url }}" class="article-preview-link"></a>
    <div class="preview-image" style="background-image: url('{{ article.image }}')"></div>
    <div class="preview-content">
        <div>
            <h3 class="preview-title">{{ article.title }}</h3>
            <div class="preview-meta">{{ article.locale_date }}{% if article.ert %} <span style="margin-right: 0.5em; margin-left: 0.5em;">•</span> {{ article.ert }}{% endif %}</div>
            <p class="preview-description">{{ article.summary|shorten(30) }}</p>
        </div>
    </div>
</div>
{% endfor %}
{% include 'pagination.html' %}
{% endblock content %}