{% extends "base.html" %}
{% block content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 thumb">
    {% block content_title %}
    <h3>Blog</h3>
    <!--span><a href="{{ SITEURL }}/feeds/all.rss.xml">[RSS Feed]</a> <a href="{{ SITEURL }}/feeds/all.atom.xml">[Atom Feed]</a></span-->
    {% endblock %}
    <hr>
</div>


{% for article in articles_page.object_list %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 thumb">
        <h3><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
        {{ article.title }}</a></h3>
        <span><b>{{ article.locale_date }}</b></span>
        <!--span>
            {% for author in article.authors %}
                <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> &nbsp; 
            {% endfor %}
        </span-->
        <p>{{ article.summary }} </p><!-- entry-content -->
        <br>
    </div>
{% endfor %}
{% include 'pagination.html' %}
</section><!-- content -->
{% endblock content %}