<h3>Experience</h3>
<h4>Academic</h4>

<!-- <div class="experience-block" style="--experience-color: var(--kanagawa-dark-magenta);">
<div class="experience-content">
    <div class="experience-title">
        <a href="https://washington.edu/">University of Washington</a>
    </div>
    <div class="experience-subtitle">
        Postdoctoral Scholar, <a href="https://techpolicylab.uw.edu/">Tech Policy Lab</a> (2025&ndash;)
    </div>
    <div class="experience-details">
      Advised by <a href="https://faculty.washington.edu/aylin/index.html/">Aylin Caliskan</a>
    </div>
</div>
<img src="{{ SITEURL }}/theme/img/uw-seal-resized.png" alt="University of Washington logo" class="experience-logo">
</div> -->

<div class="experience-block" style="--experience-color: var(--kanagawa-dark-blue);">
  <div class="experience-content">
      <div class="experience-title"><a href="https://www.ucsb.edu/">University of California, Santa Barbara</a></div>
      <div class="experience-subtitle">PhD student, <a href="http://nlp.cs.ucsb.edu/">NLP Lab</a>, <a href="https://cs.ucsb.edu/">Computer Science</a> (2020&ndash;2025)</div>
      <div class="experience-details">
          Advised by <a href="https://sites.cs.ucsb.edu/~william/">William Yang Wang</a><br>
          Recipient, <a href="https://www.nsfgrfp.org/">NSF Graduate Research Fellowship</a> (2020)
      </div>
  </div>
  <img src="{{ SITEURL }}/theme/img/ucsb-seal-cropped-resized.png" alt="UCSB Seal" class="experience-logo">
</div>

<div class="experience-block" style="--experience-color: var(--kanagawa-dark-red);">
  <div class="experience-content">
      <div class="experience-title"><a href="https://www.asu.edu/">Arizona State University</a></div>
      <div class="experience-subtitle">MS Computer Engineering (2018&ndash;2020)</div>
      <div class="experience-details">
          Advised by <a href="https://www.public.asu.edu/~visar/index.html">Visar Berisha</a> &amp; 
          <a href="https://cubic.asu.edu/people">Sethuraman Panchanathan</a>
      </div>
  </div>
  <img src="{{ SITEURL }}/theme/img/asu-seal-cropped-resized.png" alt="ASU Seal" class="experience-logo">
</div>

<div class="experience-block" style="--experience-color: var(--kanagawa-dark-red);">
  <div class="experience-content">
      <div class="experience-title"><a href="https://www.asu.edu/">Arizona State University</a></div>
      <div class="experience-subtitle">BSE Electrical Engineering (2014&ndash;2018)</div>
      <div class="experience-details">
          <a href="https://barretthonors.asu.edu/">Barrett, the Honors College</a>, Presidential Scholar (Full tuition)
      </div>
  </div>
  <img src="{{ SITEURL }}/theme/img/asu-seal-cropped-resized.png" alt="ASU Seal" class="experience-logo">
</div>

<h4>Industry</h4>

<div class="experience-block" style="--experience-color: var(--kanagawa-dark-cyan);">
  <div class="experience-content">
      <div class="experience-title"><a href="https://www.amd.com/en/corporate/research.html">AMD Research</a></div>
      <div class="experience-subtitle">Research Intern, Open GenAI (2024)</div>
      <div class="experience-details">
          Working on open source generative AI initiatives
      </div>
  </div>
  <img src="{{ SITEURL }}/theme/img/amd-logo-cropped-resized.png" alt="AMD Logo" class="experience-logo logo-small">
</div>

<div class="experience-block" style="--experience-color: var(--kanagawa-light-blue);">
  <div class="experience-content">
      <div class="experience-title"><a href="https://ai.facebook.com/">Meta AI</a></div>
      <div class="experience-subtitle">Research Intern, Cognitive AI/Conversational AI Research (2022)</div>
      <div class="experience-details">
          Developed novel evaluation methods for large language models
      </div>
  </div>
  <img src="{{ SITEURL }}/theme/img/meta-logo-cropped-resized.png" alt="Meta Logo" class="experience-logo logo-medium">
</div>

<div class="experience-block" style="--experience-color: var(--kanagawa-dark-yellow);">
  <div class="experience-content">
      <div class="experience-title"><a href="https://www.amazon.science/publications">Amazon Alexa AI</a></div>
      <div class="experience-subtitle">Applied Scientist Intern (2019&ndash;2021)</div>
      <div class="experience-details">
          Web-based QA (2021)<br>
          Hybrid Science (2019, 2020)
      </div>
  </div>
  <img src="{{ SITEURL }}/theme/img/amazon-logo-cropped-resized.png" alt="Amazon Logo" class="experience-logo logo-medium">
</div>